body {
    background-color:#DBD3F4;
}

header {
    border: ridge;
    border-color:#FFD300;
    background-color: #3914AF; 
    color: white;
    font-family: fantasy;    
    text-align:center;
}
a:hover {
    color:purple;
}

header > h4 {
    font-style: italic;
}

a {
    color: red
    
}

aside {
    border: ridge;
    margin-right: 3%;
    margin-top: 50px;
    background-color:#FFE773;
    padding:10px;
    float:right;
    width:23%;
}
article {
    border:ridge;
    color:white;
    padding: 10px;
    background-color:#876ED7;
    margin-right:30%;
    margin-top:10px;
    margin-left:5%;
}
article img {
    width: 68%;
}
.separator {
    text-align:right;
    padding-right:2%;
    margin-left:2%;
    width:70%;
    color:yellow;
    background-color:#200772;
}

footer {
    position:absolute;
    width:100%;
}

#footleft {
    width: 33%;
    display:inline-block;
    text-align:left;
}
#footmid {
    width: 33%;
    display:inline-block;
    text-align:center;
}
#footright {
    width:33%;
    display:inline-block;
    text-align:right;
}
#code { 
    margin: 10px;
    padding: 10px;
    border: solid;
    background: white;
    color: black;
}